<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence"
             version="2.1">
    <persistence-unit name="simple-jpa-application">
        <class>com.yi.User</class>
        <class>com.yi.entity.Test</class>
        <class>com.yi.entity.ChatEntity</class>
        <properties>
            <!-- 속성 설정 -->
        </properties>
    </persistence-unit>
</persistence>