<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/include/layout}" lang="ko">
<th:block layout:fragment="content">
    <div style="border: solid 1px blue">
        <div>
            <h1 class="typing-txt">
               메인 화면 영역
            <h1 class="typing"></h1>
        </div>
    </div>

    <!-- 파워링크 : 해당카페번호꺼내서 해당이미지 1개씩 꺼내기 -->
    <div class="powerLinkArea">
    </div>
    <!-- 공지사항 -->
    <div class="noticeAndevent">

    </div>


    <!-- 카페추천 / 추천 랭킹 -->
    <div class="cafeRecommend">

    </div>
</th:block>


</html>